section.rooms
  .container
    .section-header
      h2.section-header__title.section-header__title--sm.room__title Unsere Praxisräume

    #splide.splide.room__carousel
      .splide__track
        ul.splide__list
          li.splide__slide 
            .room__item
              img.room__photo(src="./assets/images/room-1.jpg" alt="Room")
          li.splide__slide 
            .room__item
              img.room__photo(src="./assets/images/room-2.jpg" alt="Room")
          li.splide__slide 
            .room__item
              img.room__photo(src="./assets/images/room-3.jpg" alt="Room")
          li.splide__slide 
            .room__item
              img.room__photo(src="./assets/images/room-4.jpg" alt="Room")

    .room-slider-progress
      .room-slider-progress-bar
