section.hero-alt
  picture.hero-alt_image
    source(srcset="/assets/images/about-hero-mobile.jpg" media="(max-width: 768px)")
    source(srcset="/assets/images/about-hero.jpg" media="(min-width: 769px)")
    img(src="/assets/images/about-hero.jpg" alt="Doctor with patient")
  .hero-alt_overlay
