section.contact-section
  .container
    .section-header
      h2.section-header__title.section-header__title--sm KONTAKT

    .contact-grid
      // Contact Info Column
      .contact-info
        .contact-info_item
          svg(width="64", height="64", viewBox="0 0 64 64", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M31.9998 52.472C37.0132 48.1093 40.9758 43.6729 43.8878 39.1627C46.7998 34.6524 48.2558 30.7502 48.2558 27.456C48.2558 22.5778 46.7118 18.5511 43.6238 15.376C40.5323 12.2027 36.6576 10.616 31.9998 10.616C27.3421 10.616 23.4674 12.2027 20.3758 15.376C17.2843 18.5493 15.7403 22.576 15.7438 27.456C15.7438 30.7484 17.1998 34.6507 20.1118 39.1627C23.0238 43.6747 26.9865 48.1111 31.9998 52.472ZM31.9998 54.816C31.5821 54.816 31.1643 54.7476 30.7465 54.6107C30.3287 54.4738 29.9447 54.2516 29.5945 53.944C27.6976 52.2 25.7741 50.2578 23.8238 48.1173C21.8754 45.9787 20.1065 43.7627 18.5172 41.4693C16.9278 39.176 15.6229 36.8356 14.6025 34.448C13.5821 32.0604 13.0736 29.7298 13.0772 27.456C13.0772 21.8151 14.9136 17.1627 18.5865 13.4987C22.2612 9.83289 26.7323 8 31.9998 8C37.2674 8 41.7385 9.83289 45.4132 13.4987C49.0861 17.1627 50.9225 21.8151 50.9225 27.456C50.9225 29.7298 50.4141 32.0524 49.3972 34.424C48.3803 36.7938 47.0843 39.1333 45.5092 41.4427C43.9358 43.7538 42.1749 45.9707 40.2265 48.0933C38.2781 50.216 36.3536 52.1493 34.4532 53.8933C34.1136 54.2009 33.7278 54.432 33.2958 54.5867C32.8621 54.7396 32.4292 54.816 31.9972 54.816M32.0078 31.2827C33.1936 31.2827 34.2069 30.8596 35.0478 30.0133C35.8869 29.1689 36.3065 28.1529 36.3065 26.9653C36.3065 25.7778 35.8834 24.7644 35.0372 23.9253C34.1909 23.0862 33.1749 22.6667 31.9892 22.6667C30.8034 22.6667 29.7901 23.0898 28.9492 23.936C28.1083 24.7822 27.6887 25.7982 27.6905 26.984C27.6923 28.1698 28.1145 29.1831 28.9572 30.024C29.7998 30.8649 30.8167 31.2844 32.0078 31.2827Z", fill="#2A513C")

          p Wilhelmsstraße 2a, 34117 Kassel

        .contact-info_item
          svg(width="64", height="64", viewBox="0 0 64 64", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M9 17.1179C9 38.0391 25.9609 55 46.8821 55L55 46.8821L45.5306 37.4127L38.7642 44.1769L19.8231 25.2358L26.5873 18.4716L17.1179 9L9 17.1179Z", stroke="#2A513C", stroke-width="3")

          p +49 561 772433

        .contact-info_item
          svg(width="64", height="64", viewBox="0 0 64 64", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M8 50.6667V13.3334H56V50.6667H8ZM32 32.3094L10.6667 18.36V48H53.3333V18.36L32 32.3094ZM32 29.3334L52.512 16H11.488L32 29.3334ZM10.6667 18.36V16V48V18.36Z", fill="#2A513C")

          p kontakt@weinberger-aesthetics.de

        .contact-info_item
          svg(width="64", height="64", viewBox="0 0 64 64", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M13.3332 54.6666C11.4807 54.6666 9.90739 54.0177 8.61317 52.7199C7.31539 51.4257 6.6665 49.8524 6.6665 47.9999V29.3333C6.6665 27.4808 7.31539 25.9075 8.61317 24.6133C9.90562 23.3155 11.4789 22.6666 13.3332 22.6666C14.4301 22.6666 15.4363 22.9111 16.3518 23.3999C17.2674 23.8888 18.0514 24.5333 18.7038 25.3333H22.6665V12.9226H46.6665V25.3333H50.6665C52.519 25.3333 54.0923 25.9822 55.3865 27.2799C56.6843 28.5742 57.3332 30.1475 57.3332 31.9999V51.9999H18.7038C18.0496 52.7999 17.2656 53.4444 16.3518 53.9333C15.4381 54.4222 14.4318 54.6666 13.3332 54.6666ZM13.3332 51.9999C14.4301 51.9999 15.3714 51.6079 16.1572 50.8239C16.9412 50.0382 17.3332 49.0968 17.3332 47.9999V29.3333C17.3332 28.2364 16.9412 27.2951 16.1572 26.5093C15.3714 25.7253 14.4301 25.3333 13.3332 25.3333C12.2363 25.3333 11.2949 25.7253 10.5092 26.5093C9.72517 27.2951 9.33317 28.2364 9.33317 29.3333V47.9999C9.33317 49.0968 9.72517 50.0382 10.5092 50.8239C11.2949 51.6079 12.2363 51.9999 13.3332 51.9999ZM25.3332 25.3333H43.9998V15.5893H25.3332V25.3333ZM19.9998 49.3333H54.6665V31.9999C54.6665 30.9031 54.2745 29.9617 53.4905 29.1759C52.7047 28.3919 51.7634 27.9999 50.6665 27.9999H19.9998V49.3333ZM39.9998 37.3333C40.7554 37.3333 41.3892 37.0773 41.9012 36.5653C42.4132 36.0533 42.6683 35.4204 42.6665 34.6666C42.6647 33.9128 42.4087 33.2799 41.8985 32.7679C41.3883 32.2559 40.7554 31.9999 39.9998 31.9999C39.2443 31.9999 38.6114 32.2559 38.1012 32.7679C37.591 33.2799 37.3349 33.9128 37.3332 34.6666C37.3314 35.4204 37.5874 36.0542 38.1012 36.5679C38.615 37.0817 39.2478 37.3368 39.9998 37.3333ZM47.9998 37.3333C48.7554 37.3333 49.3892 37.0773 49.9012 36.5653C50.4132 36.0533 50.6683 35.4204 50.6665 34.6666C50.6647 33.9128 50.4087 33.2799 49.8985 32.7679C49.3883 32.2559 48.7554 31.9999 47.9998 31.9999C47.2443 31.9999 46.6114 32.2559 46.1012 32.7679C45.591 33.2799 45.3349 33.9128 45.3332 34.6666C45.3314 35.4204 45.5874 36.0542 46.1012 36.5679C46.6149 37.0817 47.2478 37.3368 47.9998 37.3333ZM39.9998 45.3333C40.7554 45.3333 41.3892 45.0773 41.9012 44.5653C42.4132 44.0533 42.6683 43.4204 42.6665 42.6666C42.6647 41.9128 42.4087 41.2799 41.8985 40.7679C41.3883 40.2559 40.7554 39.9999 39.9998 39.9999C39.2443 39.9999 38.6114 40.2559 38.1012 40.7679C37.591 41.2799 37.3349 41.9128 37.3332 42.6666C37.3314 43.4204 37.5874 44.0542 38.1012 44.5679C38.615 45.0817 39.2478 45.3368 39.9998 45.3333ZM47.9998 45.3333C48.7554 45.3333 49.3892 45.0773 49.9012 44.5653C50.4132 44.0533 50.6683 43.4204 50.6665 42.6666C50.6647 41.9128 50.4087 41.2799 49.8985 40.7679C49.3883 40.2559 48.7554 39.9999 47.9998 39.9999C47.2443 39.9999 46.6114 40.2559 46.1012 40.7679C45.591 41.2799 45.3349 41.9128 45.3332 42.6666C45.3314 43.4204 45.5874 44.0542 46.1012 44.5679C46.6149 45.0817 47.2478 45.3368 47.9998 45.3333ZM23.9998 45.3333H34.6665V31.9999H23.9998V45.3333Z", fill="#2A513C")

          p +49 561 711551

        .contact-info_item.contact-info_hours
          svg(width="64", height="64", viewBox="0 0 64 64", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M32.0002 54.6667C44.5186 54.6667 54.6668 44.5185 54.6668 32C54.6668 19.4816 44.5186 9.33337 32.0002 9.33337C19.4817 9.33337 9.3335 19.4816 9.3335 32C9.3335 44.5185 19.4817 54.6667 32.0002 54.6667Z", stroke="#2A513C", stroke-width="3")
            path(d="M44 32.0001H32.6667C32.4899 32.0001 32.3203 31.9298 32.1953 31.8048C32.0702 31.6798 32 31.5102 32 31.3334V22.6667", stroke="#2A513C", stroke-width="3", stroke-linecap="round")

          div 
            p 
              b Opening Hours
            ul
              li Mo – Do: 9 – 17 Uhr
              li Fr: 9 – 12 Uhr
              li Sa + So: closed

      // Contact Form Column
      .contact-form
        form(action="#" method="post")
          .form-group
            //- label(for="name") Name*
            input#name(type="text" placeholder="Name*" required)

          .form-group
            //- label(for="email") E-Mail-Adresse*
            input#email(type="email" placeholder="E-Mail-Adresse*" required)

          .form-group
            //- label(for="phone") Telefon-Nummer*
            input#phone(type="text" placeholder="Telefon-Nummer*" required)

          .form-group
            //- label(for="message") Ihre Nachricht
            textarea#message(placeholder="Ihre Nachricht")

          .form-group.checkbox
            input#privacy(type="checkbox" required)
            label(for="privacy") Yes, I agree to the processing of my data. Privacy Policy*

          button.btn-submit(type="submit") Nachricht senden
