section.hero-alt
  picture.hero-alt_image
    source(srcset="/assets/images/contact_hero_mobile.webp" media="(max-width: 768px)")
    source(srcset="/assets/images/contact_hero.webp" media="(min-width: 769px)")
    img(src="/assets/images/contact_hero.webp" alt="Office reception with staff member on phone")
  .hero-alt_overlay