section.home-hero
  .home-hero__inner
  //- .home-hero__bg-wrapper
  //-   img.home-hero__bg-image(src="./assets/images/hero-image.jpg" alt="Dr. Katharina Weinberger am Schreibtisch")

  .container
    .home-hero__content-wrapper
      .home-hero__content
        h1.home-hero__title
          | Weinberger Aesthetics:
          br
          | Präzision. Eleganz.
          br
          | Perfektion.
        
        p.home-hero__subtitle Premium-Ästhetik in diskretem Ambiente – für höchste Ansprüche.
        
        a.btn.btn-primary(href="#") Behandlungen ansehen
