section.section.section--intro-text
  .container
    .intro-text
      .intro-text__logo
          include ./../../svgs/logo_short.svg
          //- img(src="/mnt/data/2.jpg" alt="Weinberger Logo")

      p.intro-text__content Ich freue mich, dass Sie vorbeischauen und vielleicht einige für Sie interessante und nützliche Informationen entdecken können. Ich bin leidenschaftliche und begeisterte Chirurgin. Plastische, Ästhetische und Handchirurgie sind meine absoluten Favoriten und auch fachlichen Schwerpunkte. Neben dem operativen steht für mich jeder Patient als Mensch im Vordergrund. Es ist mir wichtig, dass Sie sich gut aufgehoben fühlen, deshalb nehme ich mir Zeit für Sie. In einem gemeinsamen Gespräch und in entspannter und ruhiger Atmosphäre versuche ich stets eine gute und ganzheitliche Lösung zu finden. Sollten Sie also Fragen oder einen Beratungswunsch haben, kontaktieren Sie