section.section.section--memberships
  .container
    .section-header
      h2.section-header__title.section-header__title--sm Mitgliedschaften

    .memberships
      .memberships__list
        .memberships__item
          img.memberships__logo(src="/assets/images/membership_logo_1-min.png" alt="Logo 1")
        .memberships__item
          img.memberships__logo(src="/assets/images/membership_logo_2-min.png" alt="Logo 2")
        .memberships__item
          img.memberships__logo(src="/assets/images/membership_logo_3-min.png" alt="Logo 3")