section.service-content(style='background-image: url(./assets/images/team-intro-bg.svg)')
   
  .container
    // Intro Lead Text
    p.service-content__lead 
      | Die Form der weiblichen Brust ist sehr individuell und unterliegt im Laufe des Lebens verschiedenen Schwankungen. Manchmal ist die Brust von Natur aus sehr klein oder verliert im Rahmen einer Gewichtsabnahme an Volumen. Auch Veränderungen in Folge einer Schwangerschaft können zu einer sog postpartalen Mammaatrophie führen, sodass der Wunsch einer Brustvergrößerung besteht. Bei manchen Fehlbildungen, z.B. tubuläre Brust besteht manchmal auch die Indikation für die Verwendung von Silikonimplantaten, ggf in Kombination mit einem Lipotransfer.

    // Two Column Text
    .service-content__columns
      .service-content__col
        p Grundsätzlich gibt es zwei Möglichkeiten eine Brust zu vergrößern; die häufigste und bekannteste Methode ist die Verwendung von Silikonimplantaten. Eine weitere Option stellt die Eigenfetttransplantation dar. Beide Verfahren können auch miteinander kombiniert werden (Hybridaugentation).
        p Bei Verwendung von Implantaten achten wir auf euere Wünsche und Bedürfnisse, aber auch darauf, dass das Ergebnis harmonisch bleibt. Ob rund oder anatomisch, auf oder unter dem Brustmuskel hängt von vielen verschiedenen Faktoren ab und muss immer individuell entschieden werden.

      .service-content__col
        p Die Verwendung von Eigenfett zur Brustvergrößerung (sog. Lipofilling) ist vor allem dann gut geeignet, wenn man ein möglichst natürliches Ergebnis wünscht. Voraussetzung ist immer das Vorhandensein von ausreichenden Spenderarealen. Manchmal sind mehrere Sitzungen notwendig, bis das gewünschte Ergebnis erreicht wird.
