// Service Hero Header
section.service-hero
  .container
    .service-hero__grid
      .service-hero__content
          h1.service-hero__title BRUSTVERGRÖSSERUNG
      
      .service-hero__image-wrapper
        img.service-hero__image(src="./assets/images/treatment_brust.webp" alt="Brustvergrößerung")
