section.team
  .container
    .section-header
      h2.section-header__title.section-header__title--sm.team__title Our Team

    .team__grid
      // Team Member 1
      .team__member
        img.team__photo(src="./assets/images/team-katharina-weinberger.webp" alt="Katharina Weinberger ")
        h3.team__name Katharina Weinberger
        p.team__role Skin Specialist

      // Team Member 2
      .team__member
        img.team__photo(src="./assets/images/team-1.webp" alt="Team Member")
        h3.team__name Team Member        
        p.team__role Dermatologist

      // Team Member 3
      .team__member
        img.team__photo(src="./assets/images/team-3.webp" alt="Alex Johnson")
        h3.team__name Team Member   
        p.team__role Skin Therapist


    #splide.splide.team__carousel
      .splide__track
        ul.splide__list
          li.splide__slide 
            // Team Member 1
            .team__member
              img.team__photo(src="./assets/images/team-katharina-weinberger.webp" alt="Katharina Weinberger ")
              h3.team__name Katharina Weinberger
              p.team__role Skin Specialist
          li.splide__slide 
            // Team Member 2
            .team__member
              img.team__photo(src="./assets/images/team-1.webp" alt="Team Member")
              h3.team__name Team Member        
              p.team__role Dermatologist
          li.splide__slide 
            // Team Member 3
            .team__member
              img.team__photo(src="./assets/images/team-3.webp" alt="Alex Johnson")
              h3.team__name Team Member   
              p.team__role Skin Therapist

    .slider-progress
      .slider-progress-bar
