section.hero-alt
  picture.hero-alt_image
    source(srcset="/assets/images/treatment-hero-mobile.webp" media="(max-width: 768px)")
    source(srcset="/assets/images/treatment-hero.webp" media="(min-width: 769px)")
    img(src="/assets/images/treatment-hero.webp" alt="Doctor with patient")
  .hero-alt_overlay
