:root {
    --section-title-color: #2d6a4f;
    --card-bg-color: #f0f0f0;
    --card-border-radius: 20px;
    --card-padding: 20px;
}

.why {
    background-color: #F2F3F4;

    &__title {}

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 16px;
    }

    &__card {
        border-radius: var(--card-border-radius);
        border: 1px solid #00422F4D;
        padding: var(--card-padding);
        flex: 1 1 calc(25% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            background-color: var(--card-bg-color);

            .why__card-title {
                color: var(--primary);
            }
        }
    }

    &__card-header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;
    }

    &__icon {
        font-size: 3rem;
        color: var(--section-title-color);

        svg {
            display: block;
            width: 56px;
            height: 56px;
        }
    }

    &__card-title {
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 0;
    }

    &__card-text {
        color: var(--card-text-color);
        font-size: 15px;
        margin-bottom: 0;
    }
}