.section--treatments {
  background-color: #F2F3F4;

  .section-header__title {}

  .treatments {
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 25px;
    }

    &__item {
      border-radius: 16px;
      overflow: hidden;
      background: #fff;
      position: relative;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.25s ease;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
      }
    }

    &__image {
      img {
        width: 100%;
        aspect-ratio: 1/1;
        // height: 180px;
        object-fit: cover;
        display: block;
      }
    }

    &__label {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 14px 12px;
      background: #2A513C4D;
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      backdrop-filter: blur(6px);
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    }
  }
}
