.why {
    background-color: var(--neutral-100);

    &__title {}

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: var(--space-16);
    }

    &__card {
        border-radius: var(--radius-20);
        border: 1px solid #00422F4D;
        padding: var(--space-20);
        flex: 1 1 calc(25% - var(--space-20));
        display: flex;
        flex-direction: column;
        // align-items: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            background-color: var(--white);

            .why__card-title {
                color: var(--color-primary);
            }

            .why__icon {
                filter: drop-shadow(1px 1px 1px var(--primary));
            }
        }
    }

    &__card-header {
        display: flex;
        align-items: center;
        gap: var(--space-16);
        margin-bottom: 10px;
    }

    &__icon {
        font-size: 3rem;
        color: var(--color-primary);

        svg {
            display: block;
            width: 56px;
            height: 56px;
        }
    }

    &__card-title {
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 0;
        text-wrap: balance;
        padding-right: 10%;
    }

    &__card-text {
        color: var(--card-text-color);
        font-size: 15px;
        margin-bottom: 0;
    }
}