 *,
 *::before,
 *::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 html {
     -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     text-size-adjust: 100%;
     scroll-behavior: smooth;
 }

 body {
     min-height: 100vh;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
     font-family: "Source Sans Pro", sans-serif;
     color: var(--body-color);
     font-size: var(--font-size-base);
     line-height: 1.5;
 }

 img,
 picture,
 video,
 canvas,
 svg {
     display: block;
     max-width: 100%;
     height: auto;
 }

 input,
 button,
 textarea,
 select {
     font: inherit;
     color: inherit;
     background: none;
     border: none;
     outline: none;
 }

 button {
     cursor: pointer;
 }

 a {
     color: inherit;
     text-decoration: none;
 }

 ul,
 ol {
     list-style: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-size: inherit;
     font-weight: inherit;
     overflow-wrap: break-word;
 }

 p {
     overflow-wrap: break-word;
 }

 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 fieldset {
     border: none;
 }

 textarea {
     resize: vertical;
 }

 :focus-visible {
     outline: 2px solid currentColor;
     outline-offset: 2px;
 }



 .text-left {
     text-align: left;
 }

 .text-center {
     text-align: center;
 }

 .text-right {
     text-align: right;
 }


 // Lenis.js
 html.lenis {
     height: auto;
 }

 .lenis.lenis-smooth {
     scroll-behavior: auto !important;
 }

 .lenis.lenis-stopped {
     overflow: hidden;
 }

 .lenis.lenis-scrolling iframe {
     pointer-events: none;
 }