.btn {
  border-radius: 10px;

  &.btn-primary {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: var(--primary-dark-1);
    }
  }
}