.btn {
  border-radius: 10px;
  font-weight: 700;
  display: inline-flex;
  width: fit-content;

  &.btn-primary {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: var(--primary-dark-1);
    }
  }

  &.btn-outline-primary {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }
}
