section {
  padding: var(--section-padding) 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1200px;

  @media (min-width: $dev-mobile) {}

  @media (min-width: $dev-tablet) {}

  @media (min-width: $dev-desktop) {
    max-width: 1400px;
    padding: 0 64px;
  }
}

.section-header {
  text-align: center;
  margin-bottom: 40px;

  .section-header__title {
    font-size: fluid-value(38px, 56px);
    font-weight: 400;
    color: var(--section-title-color);
    text-align: center;
    margin-bottom: 0;

    &--sm { 
      font-size: fluid-value(30px, 36px);
      font-weight: 400;
      color: var(--section-title-color);
      text-align: center;
      margin-bottom: 0;
    }
  }
}