section {
  padding: var(--section-padding) 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(16px, calc(12.308vw + -20.923px), 32px);
  max-width: 1200px;

  @media (min-width: $dev-mobile) {}

  @media (min-width: $dev-tablet) {}

  @media (min-width: $dev-desktop) {
    max-width: 1400px;
    padding: 0 64px;
  }
}

.section-header {
  text-align: center;
  margin-bottom: 40px;

  .section-header__title {
    font-size: fluid-value(38px, 56px);
    font-weight: 400;
    color: var(--section-title-color);
    text-align: center;
    margin-bottom: 0;

    &--sm {
      font-size: fluid-value(30px, 36px);
      font-weight: 400;
      color: var(--section-title-color);
      text-align: center;
      margin-bottom: 0;
    }
  }

  p {
    font-size: var(--text-16-18);
  }
}



@keyframes appear {
  from {
    opacity: 0;
    // clip-path: inset(100% 100% 0 0);
  }

  to {
    opacity: 1;
    // clip-path: inset(0 0 0 0);
  }
}

main section {
  // animation: appear linear;
  // animation-timeline: view();
  // animation-range: entry 0% cover 150px;
}


@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
