$dev-mobile: 430px;
$dev-tablet: 768px;
$dev-desktop: 1440px;
// Global device widths
$dev-min-width: 430px;
$dev-max-width: 1440px;

:root {
    --section-padding: 65px;
    @include fluid-var(font-size-base, 12px, 16px);

    // colors 
    --body-color: #000000;
    --primary: hsl(163 100% 13%);
    --primary-light-1: hsl(from var(--primary) h s calc(l + 10));
    --primary-light-2: hsl(from var(--primary) h s calc(l + 20));
    --primary-light-3: hsl(from var(--primary) h s calc(l + 30));
    --primary-dark-1: hsl(from var(--primary) h s calc(l - 10));
    --primary-dark-2: hsl(from var(--primary) h s calc(l - 20));
    --primary-dark-3: hsl(from var(--primary) h s calc(l - 30));
    --secondary: hsl(34 90% 55%);
    --secondary-light-1: hsl(from var(--secondary) h s calc(l + 10));
    --secondary-light-2: hsl(from var(--secondary) h s calc(l + 20));
    --secondary-light-3: hsl(from var(--secondary) h s calc(l + 30));
    --secondary-dark-1: hsl(from var(--secondary) h s calc(l - 10));
    --secondary-dark-2: hsl(from var(--secondary) h s calc(l - 20));
    --secondary-dark-3: hsl(from var(--secondary) h s calc(l - 30));
    --accent: hsl(0 0% 88%);
    --accent-light-1: hsl(from var(--accent) h s calc(l + 4));
    --accent-light-2: hsl(from var(--accent) h s calc(l + 8));
    --accent-light-3: hsl(from var(--accent) h s calc(l + 12));
    --accent-dark-1: hsl(from var(--accent) h s calc(l - 10));
    --accent-dark-2: hsl(from var(--accent) h s calc(l - 20));
    --accent-dark-3: hsl(from var(--accent) h s calc(l - 30));
}