$dev-mobile: 430px;
$dev-tablet: 768px;
$dev-desktop: 1224px;
// Global device widths
$dev-min-width: 430px;
$dev-max-width: 1440px;

:root {
    @include fluid-var(text-body, 16px, 16px);
    @include fluid-var(text-16-18, 16px, 18px);

    // colors 
    --text-body-color: #000000;
    --white: #ffffff;
    --black: #000000;
    --neutral-100: #F2F3F4;
    --neutral-200: #f0f0f0;
    --neutral-300: #e5e3e4;
    --muted: #BABABA;
    --text-strong: #333333;
    --color-primary: hsl(163 100% 13%);
    --color-primary-light-1: hsl(from var(--color-primary) h s calc(l + 8));
    --color-primary-light-2: hsl(from var(--color-primary) h s calc(l + 16));
    --color-primary-light-3: hsl(from var(--color-primary) h s calc(l + 24));
    --color-primary-dark-1: hsl(from var(--color-primary) h s calc(l - 8));
    --color-primary-dark-2: hsl(from var(--color-primary) h s calc(l - 16));
    --color-primary-dark-3: hsl(from var(--color-primary) h s calc(l - 24));
    --color-primary-alpha-25: hsl(from var(--color-primary) h s l / 0.25);
    --color-primary-alpha-50: hsl(from var(--color-primary) h s l / 0.5);
    --color-primary-alpha-75: hsl(from var(--color-primary) h s l / 0.75);
    --color-secondary: hsl(34 90% 55%);
    --color-secondary-light-1: hsl(from var(--color-secondary) h s calc(l + 8));
    --color-secondary-light-2: hsl(from var(--color-secondary) h s calc(l + 16));
    --color-secondary-light-3: hsl(from var(--color-secondary) h s calc(l + 24));
    --color-secondary-dark-1: hsl(from var(--color-secondary) h s calc(l - 8));
    --color-secondary-dark-2: hsl(from var(--color-secondary) h s calc(l - 16));
    --color-secondary-dark-3: hsl(from var(--color-secondary) h s calc(l - 24));
    --color-accent: hsl(0 0% 88%);
    --color-accent-light-1: hsl(from var(--color-accent) h s calc(l + 4));
    --color-accent-light-2: hsl(from var(--color-accent) h s calc(l + 8));
    --color-accent-light-3: hsl(from var(--color-accent) h s calc(l + 12));
    --color-accent-dark-1: hsl(from var(--color-accent) h s calc(l - 8));
    --color-accent-dark-2: hsl(from var(--color-accent) h s calc(l - 16));
    --color-accent-dark-3: hsl(from var(--color-accent) h s calc(l - 24));

    /* space and radii */
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-24: 24px;
    --space-40: 40px;
    @include fluid-var(section-padding, 45px, 65px);
    // radius
    --radius-4: 4px;
    --radius-16: 16px;
    --radius-20: 20px;
}
