
<!-- Custom Cursor -->
<div class="cursor"></div>
<div class="cursor-follower"></div>

//- JS
// Slider 
script(src="./assets/js/splide.min.js")
// Smoothscroll 
script(src="./assets/js/lenis.min.js")
// ScrollReveal (animations)
script(src="./assets/js/scrollreveal.js")
// Custom JS
script(src="./assets/js/main.js")


footer.footer
  .container
    .footer__inner

      .footer__logo
        include ./../../svgs/logo.svg
        //- img(src="./assets/images/logo.svg" alt="Weinberger Aesthetics")

      .footer__contact
        .footer__item
            .footer__address
              .footer__icon
                svg(fill="none", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 17.74 21.94")
                  path(d="M8.87001 20.8463C11.22 18.8013 13.0775 16.7217 14.4425 14.6075C15.8075 12.4933 16.49 10.6642 16.49 9.12C16.49 6.83333 15.7663 4.94583 14.3188 3.4575C12.8696 1.97 11.0533 1.22625 8.87001 1.22625C6.68668 1.22625 4.87043 1.97 3.42126 3.4575C1.97209 4.945 1.24834 6.8325 1.25001 9.12C1.25001 10.6633 1.93251 12.4925 3.29751 14.6075C4.66251 16.7225 6.52001 18.8021 8.87001 20.8463ZM8.87001 21.945C8.67418 21.945 8.47834 21.9129 8.28251 21.8488C8.08668 21.7846 7.90668 21.6804 7.74251 21.5363C6.85334 20.7188 5.95168 19.8083 5.03751 18.805C4.12418 17.8025 3.29501 16.7638 2.55001 15.6888C1.80501 14.6138 1.19334 13.5167 0.715009 12.3975C0.236675 11.2783 -0.00165799 10.1858 8.68055e-06 9.12C8.68055e-06 6.47583 0.860842 4.295 2.58251 2.5775C4.30501 0.859167 6.40084 0 8.87001 0C11.3392 0 13.435 0.859167 15.1575 2.5775C16.8792 4.295 17.74 6.47583 17.74 9.12C17.74 10.1858 17.5017 11.2746 17.025 12.3863C16.5483 13.4971 15.9408 14.5938 15.2025 15.6763C14.465 16.7596 13.6396 17.7988 12.7263 18.7938C11.8129 19.7888 10.9108 20.695 10.02 21.5125C9.86084 21.6567 9.68001 21.765 9.47751 21.8375C9.27418 21.9092 9.07126 21.945 8.86876 21.945M8.87376 10.9138C9.42959 10.9138 9.90459 10.7154 10.2988 10.3188C10.6921 9.92292 10.8888 9.44667 10.8888 8.89C10.8888 8.33334 10.6904 7.85834 10.2938 7.465C9.89709 7.07167 9.42084 6.875 8.86501 6.875C8.30918 6.875 7.83418 7.07333 7.44001 7.47C7.04584 7.86667 6.84918 8.34292 6.85001 8.89875C6.85084 9.45459 7.04876 9.92959 7.44376 10.3238C7.83876 10.7179 8.31543 10.9146 8.87376 10.9138Z", fill="black")
              .footer__text
                span Wilhelmstraße 2a 34117 Kassel

        .footer__item
          a.footer__link(href="tel:+49561772433")
            .footer__icon
              svg(fill="none", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 22 22")
                path(d="M0.5 4.41303C0.5 13.964 8.243 21.707 17.794 21.707L21.5 18.001L17.177 13.678L14.088 16.766L5.441 8.11903L8.529 5.03103L4.206 0.707031L0.5 4.41303Z", stroke="black")
            .footer__text 0561-772433

          a.footer__link(href="mailto:kontakt@weinberger-aesthetics.de")
            .footer__icon
              svg(fill="none", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 18 14")
                path(d="M0 14V0H18V14H0ZM9 7.116L1 1.885V13H17V1.885L9 7.116ZM9 6L16.692 1H1.308L9 6ZM1 1.885V1V13V1.885Z", fill="black")
            .footer__text kontakt@weinberger-aesthetics.de

      .footer__links
        a.footer__link(href="/impressum") Impressum
        a.footer__link(href="/datenschutz") Datenschutz
        a.footer__link(href="#") Cookie-Einstellungen
