-
  var treatmentsItems = [
    { title: "Gesicht", img: "/assets/images/treatment_gesicht.webp", link: "/behandlungen/gesicht" },
    { title: "Brust", img: "/assets/images/treatment_brust.webp", link: "/behandlungen/brust" },
    { title: "Körperformung mittels Liposuktion/Lipofilling", img: "/assets/images/treatment_koerperformung.webp", link: "/behandlungen/koerperformung" },
    { title: "Handchirurgie", img: "/assets/images/treatment_handchirurgie.webp", link: "/behandlungen/handchirurgie" },
    { title: "Straffungsoperationen", img: "/assets/images/treatment_straffungsoperationen.webp", link: "/behandlungen/straffungsoperationen" },
    { title: "Ohren", img: "/assets/images/treatment_ohren.webp", link: "/behandlungen/ohren" },
    { title: "Intimchirurgie für Frauen", img: "/assets/images/treatment_intimchirurgie.webp", link: "/behandlungen/intimchirurgie" },
    { title: "Behandlung von übermäßigem Schwitzen", img: "/assets/images/treatment_schwitzen.webp", link: "/behandlungen/schwitzen" },
    { title: "Antiaging und minimalinvasive Verfahren", img: "/assets/images/treatment_antiaging.webp", link: "/behandlungen/antiaging" },
    { title: "Gynäkomastie", img: "/assets/images/treatment_gynaekomastie.webp", link: "/behandlungen/gynaekomastie" },
    { title: "Vampirlifting / PRP", img: "/assets/images/treatment_prp.webp", link: "/behandlungen/prp" },
    { title: "Weiteres", img: "/assets/images/treatment_weiteres.webp", link: "/behandlungen/weiteres" }
  ]


section.section.section--treatments 
  .container
    .section-header
      h2.section-header__title.section-header__title--sm Behandlungsspektrum

    .treatments
      .treatments__grid 
        each item in treatmentsItems
          .treatments__item
            a.treatments__link(href=item.link)
              .treatments__image
                img(src=item.img, alt=item.title)
              .treatments__label= item.title
