.footer {
  background: var(--neutral-100);
  padding: var(--spacing-40) 0;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-40);

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      flex-direction: row;
    }

    @media (min-width: $dev-desktop) {}
  }

  &__logo svg {
    max-height: 60px;
    min-width: 100px;
    width: 192px;
    max-width: 95%;
  }

  &__contact {
    display: flex;
    gap: var(--spacing-40);
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    font-size: 15px;
    color: var(--body-color);
    align-items: center;
    width: 100%;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      align-items: flex-start;
      width: auto;
    }

    @media (min-width: $dev-desktop) {}
  }

  &__icon {
    width: 21px;
    line-height: 1;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      align-items: flex-start;
    }

    @media (min-width: $dev-desktop) {}
  }

  .footer__address {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-lg);
    font-weight: 500;
  }

  .footer__link {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: var(--body-color);
    text-decoration: none;
    font-size: var(--font-size-lg);
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}