.header {
  z-index: 1000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  background-color: #fff;

  @media (min-width: $dev-mobile) {}

  @media (min-width: $dev-tablet) {
    background-color: #F2F3F4;
  }

  @media (min-width: $dev-desktop) {}

  &:has(.open) {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .logo {

    img,
    svg {
      height: 60px;
      max-width: 125px;

      @media (min-width: $dev-mobile) {}

      @media (min-width: $dev-tablet) {
        max-width: none;
      }

      @media (min-width: $dev-desktop) {}
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: fluid-value(18px, 24px);
  }



  .mobile-btn {
    display: inline-flex;
    font-size: 12px !important;
    margin-left: auto;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      display: none;
    }

    @media (min-width: $dev-desktop) {}
  }

  /* ---- Mobile Toggle Button ---- */
  .nav-toggle {
    width: 32px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 6px;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      display: none;
      gap: 5px;
    }

    @media (min-width: $dev-desktop) {}

    span {
      width: 100%;
      height: 2px;
      background: #000000;
      transition: .3s ease;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.active span:nth-child(2) {
      opacity: 0;
    }

    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    padding: 24px;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      display: flex;
      position: static;
      width: auto;
      background-color: transparent;
      padding: 0;
    }

    @media (min-width: $dev-desktop) {}

    &.open {
      display: flex;
    }

    ul {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      list-style: none;
      margin: 0;
      padding: 0;
      flex-direction: column;

      @media (min-width: $dev-mobile) {}

      @media (min-width: $dev-tablet) {
        align-items: center;
        flex-direction: row;
      }

      @media (min-width: $dev-desktop) {}

      li {

        a {
          text-decoration: none;
          color: var(--primary);
          font-weight: normal;

          &:hover {}

          &.active {
            font-weight: 600;
          }
        }
      }
    }
  }
}