doctype html
html(lang="de")
  head
    title Behandlungsspektrum  - Weinberger Aesthetics
    include pug-includes/shared/_header-head.pug

  body
    include pug-includes/shared/_header.pug 

    main(id="main")
      include pug-includes/pages-sections/_treatment-hero.pug
      include pug-includes/global-sections/_treatments.pug
      include pug-includes/global-sections/_why-weinberger.pug
      include pug-includes/global-sections/_contact.pug

    include pug-includes/shared/_footer.pug