doctype html
html
  head
    title Weinberger Aesthetics - Home
    link(rel="stylesheet" href="./assets/css/style.css")

  body
    include shared/_header.pug

    main
      include sections/_contact.pug
      include sections/_why-weinberger.pug

    include shared/_footer.pug