doctype html
html(lang="de")
  head
    title Weinberger Aesthetics - Home
    include pug-includes/shared/_header-head.pug

  body
    include pug-includes/shared/_header.pug
    //- include ./svgs/logo.svg 

    main
      include pug-includes/pages-sections/_home-hero.pug
      include pug-includes/pages-sections/_intro-text.pug
      include pug-includes/global-sections/_treatments.pug
       
      include pug-includes/pages-sections/_memberships.pug
      include pug-includes/global-sections/_why-weinberger.pug
      include pug-includes/global-sections/_contact.pug

    include pug-includes/shared/_footer.pug
