doctype html
html(lang="de")
  head
    title Brustvergrößserung - Weinberger Aesthetics
    include pug-includes/shared/_header-head.pug

  body
    include pug-includes/shared/_header.pug

    main
      include pug-includes/pages-sections/_service-hero.pug
      include pug-includes/pages-sections/_service-content-text.pug
      include pug-includes/pages-sections/_service-information.pug
      include pug-includes/global-sections/_contact.pug

    include pug-includes/shared/_footer.pug
