doctype html
html(lang="de")
  head
    title Brustvergrößserung - Weinberger Aesthetics
    link(rel="stylesheet" href="./assets/css/style.css")

  body
    include pug-includes/shared/_header.pug

    main
      include pug-includes/pages-sections/_contact-hero.pug  
      include pug-includes/pages-sections/_contact-form.pug 
      include pug-includes/pages-sections/_contact-map.pug

      include pug-includes/global-sections/_contact.pug

    include pug-includes/shared/_footer.pug