doctype html
html(lang="de")
  head
    title Team - Weinberger Aesthetics
    include pug-includes/shared/_header-head.pug

  body
    include pug-includes/shared/_header.pug

    main
      include pug-includes/pages-sections/_team-hero.pug
      include pug-includes/pages-sections/_team-intro.pug
      include pug-includes/pages-sections/_team-about-faqs.pug
      include pug-includes/pages-sections/_team-members.pug 
      include pug-includes/pages-sections/_memberships.pug
      include pug-includes/global-sections/_why-weinberger.pug
      include pug-includes/global-sections/_contact.pug

    include pug-includes/shared/_footer.pug
