.rooms {


  @media (min-width: $dev-mobile) {}

  @media (min-width: $dev-tablet) {}

  @media (min-width: $dev-desktop) {}

  .room__title {
    text-align: left;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      text-align: center;
    }

    @media (min-width: $dev-desktop) {}
  }

  &__grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    display: none;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      display: flex;
    }

    @media (min-width: $dev-desktop) {}
  }

  &__item {
    flex: 1 1 200px;

    .room__photo {
      width: 100%;
      margin-bottom: fluid-value(16px, 24px);
    }
  }

  .room__carousel {

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {}

    @media (min-width: $dev-desktop) {}
.splide__track {

}
    .splide__list{
// padding-left: 15%;
    }
    .splide__slide {}
  }


  /* Progress Bar */
  .room-slider-progress {
    width: 100%;
    border-radius: 4px;
    height: 4px;
    background: #BABABA;
    margin-top: 32px;
    overflow: hidden;
    display: flex;

    &-bar {
      height: 100%;
      width: 0;
      background: var(--primary);
      transition: width 0.3s ease;
    }

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {}

    @media (min-width: $dev-desktop) {}
  }

}