.contact-section {
  background-color: #ffffff;


  .contact-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 3fr;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      grid-template-columns: 3fr 4fr;
    }

    @media (min-width: $dev-desktop) {}
  }

  .contact-info {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    &_item {
      font-size: 18px;
      color: var(--primary);
      display: flex;
      align-items: flex-start;
      gap: 0.75rem;
      flex-direction: row;

      @media (min-width: $dev-mobile) {}

      @media (min-width: $dev-tablet) {
        flex-direction: column;
      }

      @media (min-width: $dev-desktop) {}

      svg {
        height: auto;
        width: fluid-value(32px, 64px);
        color: var(--primary);
      }

      p {}

      ul {
        list-style: none;

        li {
          margin: 0;
        }
      }
    }

    &_hours { 

    }
  }

  .contact-form {
    flex: 1 1 0;

    form {
      background-color: #F2F3F4;
      padding: 2rem;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      label {
        font-size: 0.95rem;
        color: #23402e;
        font-weight: 500;
      }

      input,
      textarea {
        background: transparent;
        border: 0;
        border-bottom: 1px solid #1c1c2f34;
        border-radius: 0;
        padding: 0.75rem 0;
        font-size: 1rem;
      }

      textarea {
        min-height: 120px;
        resize: vertical;
      }

      &.checkbox {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        label {
          font-size: 0.85rem;
          color: #333;
          font-weight: 400;
        }
      }
    }

    .btn-submit {
      background: #23402e;
      color: #fff;
      padding: 0.85rem 1rem;
      border: none;
      border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        background: #193522;
      }
    }
  }
}