.home-hero {
  position: relative;
  background-color: var(--neutral-300);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('./../images/home-hero-mobile.jpg');
  color: var(--white);
  min-height: 800px;

  @media (min-width: $dev-mobile) {}

  @media (min-width: $dev-tablet) {
    background-position: center top;
    background-image: url('./../images/home-hero.jpg');
    color: var(--primary);
    min-height: 600px;
  }

  @media (min-width: $dev-desktop) {}

  .container {
    height: 100%;
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.482), transparent);

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      background: linear-gradient(to right, rgba(255, 255, 255, 0.421), transparent);
    }

    @media (min-width: $dev-desktop) {}
  }

  &__content {
    padding-right: var(--spacing-20);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      height: auto;
    }

    @media (min-width: $dev-desktop) {}
  }

  &__title {
    // font-size: fluid-value(38px, 56px);
    font-size: fluid-value(32px, 56px);
    letter-spacing: -0.5px;
    margin: 0;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {}

    @media (min-width: $dev-desktop) {}
  }

  &__subtitle {
    font-size: 18px;
    text-wrap: balance;
    // max-width: 80%;
    margin-bottom: auto;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      margin-bottom: var(--spacing-40);
    }

    @media (min-width: $dev-desktop) {}
  }
}