.section--intro-text {
  position: relative;
  background-color: #F2F3F4;
  text-align: center;

  .intro-text {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__logo {

      img {
        width: 70px;
        height: auto;
        display: inline-block;
      }
    }

    &__content {
      margin-bottom: 0;
    }
  }
}