.section--memberships {
  background-color: #fff;

  .section-header__title.section-header__title--sm {}

  .memberships {

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: fluid-value(56px, 100px);
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      max-width: 200px;
      max-height: 128px;
      height: auto;
      display: block;
    }
  }
}
