.team {

  &__grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    display: none;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      display: flex;
    }

    @media (min-width: $dev-desktop) {}
  }

  &__member {
    flex: 1 1 200px;

    .team__photo {
      width: 100%;
      margin-bottom: fluid-value(16px, 24px);
    }

    .team__name {
      font-size: 24px;
      color: var(--color-primary);
      font-weight: 600;
      margin: 0;
    }

    .team__role {
      color: var(--color-primary);
    }
  }

  .team__carousel {
    display: block;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      display: none;
    }

    @media (min-width: $dev-desktop) {}

    .splide__slide {}
  }


  /* Progress Bar */
  .slider-progress {
    width: 100%;
    border-radius: 4px;
    height: 4px;
    background: #BABABA;
    margin-top: 32px;
    overflow: hidden;

    &-bar {
      height: 100%;
      width: 0;
      background: var(--color-primary);
      transition: width 0.3s ease;
    }

    display: flex;

    @media (min-width: $dev-mobile) {}

    @media (min-width: $dev-tablet) {
      display: none;
    }

    @media (min-width: $dev-desktop) {}
  }

}
